# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node.js / npm
node_modules/
pnpm-lock.yaml

# Build output
dist/
.output/

# Astro cache
.astro

# Environment variables
.env
.env.local
.env.production

# System files
.DS_Store

# Editor files
.vscode/

# Optional caches
.cache
.parcel-cache
.nyc_output
.rpt2_cache/

# Coverage
coverage/
*.lcov

# Misc
*.tgz
